.header {
    font-size: 1.25rem; /* Adjust size for Header */
    padding: 10px;
    text-align: center;
    background-color: #ffffff;
    color: black;
    width: 105%;
    position: sticky;
    top: 0;
    z-index: 1000;
    border-style: solid;
}
